@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@200&display=swap');

svg {
    transform: rotate(180deg);
    height: 15px;
    width: 15px;
}

button {
    background-color: #cc6868;
    color: black;
    border-radius: 10px;
    padding: 14px 20px;
    margin-left: 25%;
    margin-top: 5rem;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 5px #888888;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: #ff8c8c;
    box-shadow: 5px 5px 2.5px #888888;
}

h1 {
    font-size: 3rem;
    margin-top: 5.5rem;
    margin-left: 25%;
    font-family: 'Anek Bangla', sans-serif;
}

h2 {
    z-index: 10;
    font-size: 2rem;
    margin-top: 6rem;
    margin-left: 25%;
    font-family: 'Anek Bangla', sans-serif;
}

#container {
    position: relative;
    background-color: blueviolet;
    width: 450px;
    margin-left: 30%;
    height: 450px;
    border-radius: 30%;
    opacity: 0.9;
}